
@{
    ViewBag.Title = "Misión-Visión";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section body
    {
    <!-- Service section -->
    <main class="site-content" role="main">
        <!-- Service section -->
        <section id="mision" style="margin-top:10%;">
            <div class="container">
                <div class="row">
                    <div class="sec-title text-center wow animated fadeInDown">
                        <h2>Misi&oacute;n-Visi&oacute;n</h2>
                    </div>
                </div>
                <div class="row">
                    <h2>Misi&oacute;n</h2>
                    <p class="text-justify" style="color:black">
                        La Universidad Tecnológica de La Habana "José Antonio Echeverría", CUJAE, contribuye al desarrollo sostenible de la sociedad cubana mediante la formación integral, continua y eficiente de profesionales de excelencia comprometidos con su Patria Socialista, la ciencia e innovación y la extensión universitaria; con alto impacto y racionalidad económica, liderazgo nacional y prestigio internacional en el campo de las ciencias técnicas.
                    </p>
                </div>
                <div class="row" style="margin-top:50px;">
                    <h2>Visi&oacute;n</h2>
                    <p class="text-justify">
                        <ul style="color:black">
                            <li>Un baluarte de la Revolución que participa de forma relevante y comprometida con el desarrollo de nuestra sociedad socialista, soberana, independiente, democrática, próspera y sostenible, con trabajadores, estudiantes y graduados integrales y de excelencia.</li>
                            <li>Una Universidad científica, tecnológica, culta y humanista que con alto prestigio en el entorno latinoamericano y desde su papel como centro Rector de las Ciencias Técnicas es referencia en el desarrollo integral y uso de las nuevas tecnologías con impacto en el desarrollo económico, sociocultural y ambiental del país.</li>
                            <li>Una Universidad donde los recursos son empleados eficazmente en función del logro exitoso de la misión, el enaltecimiento de los trabajadores y el mejoramiento de las condiciones de trabajo, estudio y vida.</li>
                        </ul>

                    </p>
                </div>
                <div class="row" style="margin-top:50px;">
                    <h2>Objetivos estrat&eacute;gicos</h2>
                    <p class="text-justify" >
                        <ol style="color:black">
                            <li>Convertir a la universidad, mediante el Proyecto Cujae, en un paradigma de Universidad Tecnológica y una referencia nacional por su eficacia y sostenibilidad. </li>
                            <li> Formar profesionales integrales, competentes y comprometidos con la Revolución.</li>
                            <li>Lograr un claustro revolucionario de excelencia que se distinga por un alto porcentaje de doctores.</li>
                            <li>Incrementar el impacto de la Universidad en correspondencia con el desarrollo económico y social del país.</li>
                        </ol>
                    </p>
                </div>
            </div>
        </section>
    </main>
    <!-- end portfolio section -->
    <!-- Testimonial section -->
    <!-- end Contact section -->
    }

