@using WebCujae.Models
@model List<RolesViewModels>
@{
    ViewBag.Title = "AdminRole";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}
@section bodyAdmin{
    <section class="content-header">
        <h1>
            Roles
            <small>gestione los roles de los usuarios</small>
        </h1>
    </section>
    <section class="content">
        <div class="row">
            <div class="col-md-12">
                <div class="box">
                    <div class="box-header with-border">
                        <h3 class="box-title">Asignar roles a los usuarios registrados</h3>
                    </div>
                    <div class="box-body">
                        <div class="row">
                            <div class="col-xs-8 form-group">
                                <table id="example2" class="table table-bordered table-hover">
                                    <thead>
                                        <tr>
                                            <th>Usuario</th>
                                            <th>Rol</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        @Html.AntiForgeryToken()
                                        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                                        @foreach (var i in Model)
                                        {
                                            <tr>
                                                <td>
                                                    <label style="font-weight:100">
                                                        @i.Username
                                                    </label>
                                                </td>
                                                @if (i.roleName.Count != 0)
                                                {
                                                    foreach (var j in i.roleName)
                                                    {
                                                        <td>
                                                            <label style="font-weight:100">
                                                                @j
                                                            </label>
                                                        </td>
                                                    }
                                                }
                                            </tr>
                                           
                                        }
                                    </tbody>
                                    <tfoot>
                                    </tfoot>
                                </table>
                            </div>
                            <div class="col-xs-1 form-group" style="margin-top:5px">
                                <table class="table table-bordered table-hover">
                                    <thead>
                                        <tr>
                                            <th>Accion</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        @foreach (var i in Model)
                                        {
                                            <tr>
                                                <td>
                                                   
                                                        @Html.ActionLink(" ", "Details", new { id = i.userId}, new { @class = "fa fa-edit fa-2x" })
                                                  
                                                </td>
                                            </tr>
                                        }
                                            
                                    </tbody>
                                    <tfoot>
                                    </tfoot>
                                </table>
                            </div>
                        </div>
                        <!-- /.box-body -->
                        <div class="box-footer">
                        </div>
                        <!-- /.box-footer-->
                    </div>
                </div>
            </div>
        </div>
    </section>

}

<script src="/Content/Admin/bower_components/datatables.net/js/jquery.dataTables.min.js"></script>
<!-- Page script -->
<script>
    $(function () {
        $('#example1').DataTable()
        $('#example2').DataTable({
            'paging': true,
            'lengthChange': false,
            'searching': false,
            'ordering': true,
            'info': true,
            'autoWidth': false
        })
    })
</script>

